<ion-header>
  <ion-toolbar>
    <!-- Back button aligned on the left -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>

    <!-- Avatar and user name in the center -->
    <ion-grid class="user-info-grid">
      <ion-row class="ion-align-items-center">

        <!-- other user image -->
        <ion-col size="auto">
          <ion-avatar>
            <img [src]="otherUser?.photoUrl" alt="User Avatar" />
          </ion-avatar>
        </ion-col>

        <!-- other user name -->
        <ion-col>
          <ion-label>
            <h2>{{otherUser?.firstName || ""}} {{otherUser?.lastName || ""}}</h2>
          </ion-label>
        </ion-col>

      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding" [scrollEvents]="true">
  <!-- Message bubbles -->
  @if (isLoading) {
  <div class="loading-screen">
    <ion-spinner name="crescent"></ion-spinner>
  </div>
  }@else {
  <div class="message-container">
    @if (allMessages.length) {
    @for (message of allMessages; track $index) {
    @if (message.senderId === currentUser.uid) {
    <div class="message-bubble sender">
      <ion-text>{{message.content}}</ion-text>
      <span class="timestamp">{{message?.sentAt?.toMillis()| date: 'shortTime'}}</span>
    </div>
    }@else {
    <div class="message-bubble receiver">
      <ion-text>{{message.content}}</ion-text>
      <span class="timestamp">{{message?.sentAt?.toMillis()| date: 'shortTime'}}</span>
    </div>
    }
    }
    }@else {
    <div class="empty-chat">
      <img src="../../../assets/icon/message-regular.svg">
      <h3>No chat available. Please send the first message to display here.</h3>
    </div>
    }
  </div>
  }
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-item>
      <ion-input [(ngModel)]="typedMessage" placeholder="Type a message..." (keyup.enter)="sendMessage()" />
      <ion-buttons (click)="sendMessage()">
        <ion-button>
          <ion-icon color="primary" slot="icon-only" name="send"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-toolbar>
</ion-footer>