<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>User List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    @for (user of users; track $index) {
    <ion-item (click)="redirectToChat(user.uid)">
      <ion-avatar slot="start">
        <img [src]="user.photoUrl" />
      </ion-avatar>

      <ion-label>
        <h2>{{user.firstName}} {{user.lastName}}</h2>
        <p class="message-text">Hey, Ravi</p>
      </ion-label>

      <ion-note slot="end" color="medium">6:32 pm</ion-note>
    </ion-item>
    }
  </ion-list>
</ion-content>