<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>User List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  @if (isLoading) {
  <ion-list lines="none">
    @for (user of [1,2,3,4,5,6,7,8,9,10]; track $index) {
    <ion-item>
      <ion-avatar slot="start">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </ion-avatar>

      <ion-label>
        <h2><ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text></h2>
        <p class="message-text"><ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text></p>
      </ion-label>
    </ion-item>
    }
  </ion-list>
  }@else {
  <ion-list lines="none">
    @for (user of users; track $index) {
    <ion-item (click)="redirectToChat(user.uid)">
      <ion-avatar slot="start">
        <img [src]="user.photoUrl" />
      </ion-avatar>

      <ion-label>
        <h2>{{user.firstName}} {{user.lastName}}</h2>
        <p class="message-text">Hey, Ravi</p>
      </ion-label>

      <ion-note slot="end" color="medium">6:32 pm</ion-note>
    </ion-item>
    }
  </ion-list>
  }
</ion-content>